#projectsection {
    font-family: 'Spirax', cursive;
    font-size: 72px;
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

#projectsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.projectcard {
    width: 25%;
}

div.card-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 80%;
    margin-top: 10px;
}

a.card-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 70%;
}

a.card-link:hover {
    color: #FBA9A6
}