.navbar {
    position: fixed;
    top: 0;
    /* z-index: 100; */
    font-family: 'Volkhov', serif;
}

.navbar-link {
    color: #898989;
}

.navbar .active, .nav-link.active, .navbar-nav .nav-link.show {
    color: #FBA9A6;
    border-bottom: 8px solid #FBA9A6;
}

.menu {
    position: fixed;
    top: 20px;
    z-index: 100;
    display: block;
    width: 100%;
    font-family: 'Volkhov', serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline;
    /* margin: 10px; */
    padding: 10px;
}

a, a:visited {
    color: #898989;
}

li a:hover {
    color: #FBA9A6;
    text-decoration: none;
}

li a:active, a.active {
    color: #FBA9A6;
    border-bottom: 8px solid #FBA9A6;
}

/* .navbar {
    padding: 0;
}

.navbar-nav .nav-link {
    color: #898989;
}

.navbar-nav .active>.nav-link, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .navbar-nav .show>.nav-link {
    color: #FBA9A6;
    border-bottom: 8px solid #FBA9A6;
} */